body{
    background-image: url("matrix-2354492_1920.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display{
    background-color: black;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    font-family: "Azeret Mono", monospace;
    font-size: 25px;
    border-radius: 20px;
}

.btn{
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: yellowgreen;
    font-size: 20px;
    background-color: darkgreen;
}
